body {
  background-color: lightgrey;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  color: black;
  text-align: left;
  font-size: 6rem;
  padding: 0.1rem;
  margin: 0.1rem;
}

h3 {
  color: black;
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
  text-align: left;
  font-style: italic;
  font-size: 1.5rem;
}

h4 {
  text-align: center;
  font-size: 2.5em;
  padding: 2%;
  margin: 0%;
}

ul{
  overflow: hidden;
  overflow-y: scroll;
  max-height: 80%;
}

li {
  font-size: 1.5em;
  padding: 1.5em;
  margin: 0.5em;
  border: 2px solid black;
  border-radius: 10px;
  text-decoration: none;
  list-style-type: none;
  box-shadow: -5px 5px;
  line-height: 30px;
}

.colorPicker {
  display: inline-block;
  border-radius: 15px;
  height: 2em;
  width: 3em;
  background-color: white;
  align-items: flex-end;
}

form {

  text-align: center;
  margin: 1em;

}

input {
  width: 10%;
  height: 1.5em;
  border-radius: 5px;
  background-color: rgb(235, 235, 235);
}

#addButton {
  height: 35px;
  border-radius: 5px;
}

#addImg {
  width: 15px;
  height: 15px;
  vertical-align: middle;
}

@media (min-width:300px) {
  div .column {
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    background-color: lightblue;
    vertical-align: top;
    align-items: flex-end;
    width: 90%;
    height: 500px;
    margin: 1%;
    border-radius: 15px;
    padding: 1em;
    box-shadow: -5px 5px;
  }
}
@media (min-width:900px) {
  div .column {
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    background-color: lightblue;
    vertical-align: top;
    align-items: flex-end;
    width: 40%;
    height: 500px;
    margin: 1%;
    border-radius: 15px;
    padding: 1em;
    box-shadow: -5px 5px;
  }
}
@media (min-width:1200px) {
  div .column {
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    background-color: lightblue;
    vertical-align: top;
    align-items: flex-end;
    width: 28%;
    height: 500px;
    margin: 1%;
    border-radius: 15px;
    padding: 1em;
    box-shadow: -5px 5px;
  }
}