body {
    background-color: antiquewhite;
    height: 100%;
    overflow: hidden;
}

#list ul
{       
    overflow-y: scroll;
    margin: 2%;      
}

li
{
    list-style-type: none;
    font-family: 'Press Start 2P', cursive;  
   
}

#wrapper
{
    display: flex;    
    background-color: white;
    justify-content: space-around;
}

#left
{    
    background-color: antiquewhite;
    width: 40%;
}

div #list
{    
    background-color: aquamarine;  
    max-height: 85%;
}