html {
    background-image: url("bgxl.png");
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden;
}


div {
    list-style-type: none;
    font-family: 'Press Start 2P', cursive;
    padding: 0em;
    margin: 1em;
}

#header {
    display: flex;
    position: relative;
    color: white;
    margin: -1%;
    right: 0%;
    bottom: 0%;
    text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;
    background-color: rgb(232, 48, 48);
    height: 100px;
    align-items: center;
    justify-content: center;
    font-size: larger;
    border-bottom: 10px solid black;
    box-shadow: inset 0em -2em rgb(144, 16, 32), inset 0em -3em rgb(192, 32, 40);
}

#header h1 {
    font-family: 'Press Start 2P', cursive;

}

.border {
    border: 5px solid red;
    border-radius: 30%;
}

.info {
    display: flex;
    align-items: center;
    background-color: white;
    box-shadow: -5px 5px 2px rgb(155, 155, 155), 
                5px -5px 2px rgb(155, 155, 155);
}

#verticalBar {
    display: flex;
    position: relative;
    margin-right: 4em;
}

#verticalBar div{
    position: absolute;
    width: 5vw;
    left: -35px;
    bottom: -35px;
    background-color: rgb(232, 48, 48);
    box-shadow: inset -0.5em 0em rgb(248, 152, 160);
    height: 120%;
}

#wrapper {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    overflow-x: hidden;
}

#left {
    display: block;
    width: 40%;
}

#list {
    display: flex;
    flex-direction: row;
    max-height: 80vh;
    background-color: white;
    border: 3px solid black;
    border-radius: 5%;
    overflow:hidden;   
}

.displayPkmn {
    background-color: white;
    display: flex;
    border-style: inset;
    border: 3px solid black;
    border-radius: 3px;
    width: 50%;
    margin-left: 25%;
    text-transform: uppercase;
    justify-content: center;
    box-shadow: inset 20px 0px rgb(232, 48, 48), inset -20px 0px rgba(232, 48, 48), inset 0em 5px rgba(248, 152, 160), inset 25px 0px rgb(248, 152, 160), inset -25px 0px rgb(248, 152, 160);
}

.imgPkmn {
    display: flex;
    width: 100%;
    height: 500px;
    justify-content: center;
}

.imgPkmn img {
    height: 375px;
    align-self: center;
}

#divs{
    overflow-y: scroll; 
      
}

/* width */
::-webkit-scrollbar {
    width: 15px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background:  rgb(88,112,248);
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(32,48,152);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(72, 87, 185);
  }