.col-container{
    display: table;
    border: 1px solid blue;
    width: 100%;
    height: 200px;
    vertical-align: top;
    justify-content: center;
    
}
.col
{
  display: table-cell;  
  padding: 16px;
  background-color:antiquewhite;
}
.checked
{
  text-decoration: line-through;
}